* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0; 
  width: 100%;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  text-align: center; 
}

main {
  flex: 1;
}

.green-text {
  color: #BCFE65;
}
