@font-face {
    font-family: 'cocogoose';
    src: url('./fonts/Cocogoose.ttf') format('ttf');
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 230px; 
}

#login-cadast > a {
    color: inherit;
    text-decoration: none;
    font-size: 1.2rem;
    margin-left: 25px;
    padding: 5px;
}

#login-cadast > a:hover {
    background-color: #BCFE65;
    border-radius: 4px;
}

#apresentacao {
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-top: 30px; 
    position: relative; 
}

#titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
}

#img-apres {
    position: absolute;
    right: 0%;
    margin-top: 100px;
    margin-right: 230px;
}

#titulo > p {
    margin-top: 15px;
    font-size: 1.2rem;
}

#book-hub {
    font-family: 'cocogoose';
    font-size: 4rem;
}

.fundo-verde {
    padding: 2px;
    border-radius: 4px;
    background-color: #BCFE65;
}

  #search-title{
    text-align: left;
    font-size: 1rem;
    margin: 60px 0px 0px 230px;
  }


